*{
    box-sizing: border-box;
}
body,ul,li,p,h1,h3,h4{ margin: 0; padding: 0;}
ul,li{ list-style: none; }
a{ text-decoration: none; }
p{ line-height: 1.5; }
@font-face {
    font-family: "iconfont";
    src: url('../font/iconfont.eot?t=1494209828575'); /* IE9*/
    src: url('../font/iconfont.eot?t=1494209828575#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff?t=1494209828575') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf?t=1494209828575') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg?t=1494209828575#iconfont') format('svg'); /* iOS 4.1- */
}

body{
    color: #777;
    font-family: "Roboto Slab","Helvetica Neue", Helvetica, Arical, sans-serif;
    font-size: 14px;
    min-width: 1000px;
    overflow: auto;
    text-align: center;
}
::selection {
    color: #fff;
    background: #fed136;
}
.layout{
    width: 1000px;
    margin: 0 auto;
}
.clearfix:after{
    display: block;
    clear: both;
    content: "";
}
#nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 80px;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(0,0,0,.2);
}
.logo{
    width: 100px;
    height: 50px;
    float: left;
}
.logo img{
    width: 100px;
    height: 50px;
}
#nav .nav{
    float: right;
}
#nav .nav li{
    float: left;
}
#nav .nav li>a{
    display:inline-block;
    color: #fff;
    padding: 15px 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#nav .nav li>a:hover{
    color: #fed136;
}

#header{
    background: url("../img/header-bg.jpg") no-repeat center center;
    background-size: cover;
}

#header h1 {
    line-height: 1.5em;
}
.intro-con{
    padding-top: 300px;
    padding-bottom: 200px;
}
.intro-con .intro-text{
    font-style: italic;
    font-size: 40px;
    line-height: 1em;
    color: #fff;
    padding-bottom: 40px;
}
.intro-con h1{
    font-size: 75px;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 40px;
}
.btn{
    display: inline-block;
    color: #fff;
    font-weight: 700;
    padding: 15px 20px;
    background-color: #fed136;
    border-radius: 3px;
    border-color: #fed136;
    font-size: 18px;
    text-transform: uppercase;
}
.btn:hover{
    background-color: #ffa012;
}
.content{
    padding: 150px 0;
}
.h3-title h3{
    font-size: 40px;
    color: #000;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 15px;
}
.h3-title p{
    font-size: 16px;
    font-style: italic;
}
.list{
    padding-top: 80px;
}
.list li{
    float: left;
    width: 30%;
    margin: 0 15px;
}
.icon{
    display: inline-block;
    font-family:"iconfont" !important;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-twitter:before{
    content: "\e612";
}
.icon-face:before{
    content: "\e6ae";
}
.icon-in:before{
    content: "\e697";
}
.icon-pro{
    font-size: 48px;
    font-weight: 700;
    padding: 30px;
    border-radius: 50%;
    background-color: #fed136;
    color: #fff;
}
.icon-trolley:before{
    content: "\e611";
}
.icon-computer:before{
    content: "\e62b";
}
.icon-lock:before{
    content: "\e622";
}
.inp{
    display: block;
    width: 100%;
    padding: 20px 12px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.list .pro-title{
    padding: 24px 0;
    color: #323232;
    font-size: 18px;
    font-weight: 700;
}
.list p{
   word-break: break-all;
}
#portfolio,
#team
{
    background-color: #f7f7f7;
}
.port-list li{
    background-color: #fff;
    margin-bottom: 30px;
}
.port-list li a{
    display: block;
    width: 100%;
    position: relative;
}
.port-list .port-hover{
    background-color: rgba(254,209,54,.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.port-list li a:hover .port-hover{
    opacity: .8;
}
.port-hover .fa{
    display: inline-block;
    font-size: 100px;
    color: #fff;
    font-weight: 700;
    margin-top: 20%;

}
.port-list li img{
    width: 100%;
}
.port-list .intro{
    padding: 25px;
}
.port-list .intro h4{
    font-size: 18px;
    color: #323232;
}
.port-list .intro p{
    font-style: italic;
    font-size: 16px;
}
.timeline{
    margin-top: 80px;
    position: relative;
}
.timeline:before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background-color: #f1f1f1;
    content: "";
}
.timeline >li{
    position: relative;
    margin-bottom: 100px;
    min-height: 170px;
}
.timeline >li:after{
    display: block;
    clear: both;
    content: "";
}
.timeline-img{
    position: absolute;
    left: 50%;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    border: 7px solid #f1f1f1;
    margin-left: -85px;
    background-color: #fed136;
    color: #fff;
}
.timeline-img h4{
    margin-top: 40px;
    font-size: 18px;
    line-height: 26px;
}
.timeline-img img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}
.timeline-pane{
    width: 41%;
    float: left;
    text-align: right;
    padding: 0 20px 30px 20px;
}
.timeline-right .timeline-pane{
    float: right;
    text-align: left;
}
.timeline-pane .timeline-title h4{
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
.timeline>li:last-child{
    margin-bottom: 0;
}
.team-member li >img{
    width: 80%;
    height: auto;
    border-radius: 50%;
    border: 7px solid #fff;
}
.team-member li >h4{
    font-size: 18px;
    color: #333;
    margin-top: 20px;
    font-weight: 700;
}
.team-member .share{
    margin-top: 10px;
}
#team .text{
    width: 66%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}
#contact{
    background-color:rgba(62,21,8,.6);
}
#contact h3{
    color: #fff;
}
#contact .h3-title p{
    color: #f0f0f0;
}
 .share a{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #222;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
}
.share a:hover{
    background-color: #fed136;
}
.form-message{
    margin-top: 30px;
}
.form-message form >div:first-child,
.form-message form> div:last-child
{
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.form-message form >div:first-child{
    float: left;
}
.form-message form> div:last-child{
    float: right;
}
.form-message .form-group{
    margin-bottom: 25px;
}
#foot .list{
    padding: 30px 0;
}
#foot .list p{
    line-height: 40px;
    color: #222
}
#foot .list p a{
    color: #fed136;
}
#foot .list p a:hover{
    text-decoration: underline;
}
.client a {
   display: block;
    float: left;
    width: 25%;
    margin: 50px auto;
}
