#box {
    width: 400px;
    min-height: 100px;
    max-height: 300px;
    /*max-height 与 min-height 决定了高度变化的范围，超出max-height则出现滚动条*/
    height: auto;
    outline: none;
    border: 1px solid #f00;
    overflow-y: auto;

}