body,ul,li,ol,div{
	margin: 0;
	padding: 0;
}

.circle{
	width: 520px;
	height: 280px;
	overflow: hidden;
	position: absolute;
	left: 558px;
	top: 208px;
}
.circle ul{
	width: 1000%;
	position: absolute;
	left:0;
	top: 0;
}
.circle ul li{
	float: left;
	list-style: none;
}
.circle ol{
	position: absolute;
	background-color: rgba(255,255,255,.3);
	height: 13px;
	width: 68px;
	top: 250px;
	left: 226px;
	border-radius: 18px;
}

.circle ol li{
	list-style: none;
	height: 8.5px;
	width: 8.5px;
	float: left;
	margin-left: 4px;
	margin-top: 2px;
	display: inline-block;
	background-color: #b7b7b7;
	border-radius: 4px; 
	cursor: pointer;
}
.circle .current{
	background-color : #ff4400;
}

.arrow{
	position: absolute;
	top: 122px;
	width: 24px;
	height: 36px;
	color: #fff;
	opacity: 0.3;
	text-align: center;
	background-color: #000;
	cursor: pointer;
	font: 700 18px/36px "simsun";
	display: none;
}
.arrow:hover{
	background-color: #000;
	opacity: 0.5;
}
#rightarrow{
	right: 0;
}
